<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <roll-result></roll-result>
  <h2>Star Wars IA App</h2>
  <ion-grid>
    <ion-row>
      <ion-col col-2 *ngFor="let die of dice">
        <img (click)="addToDicePool(die)" src="{{die.url}}">
      </ion-col>
    </ion-row>

  </ion-grid>
  <h2>Dice Pool</h2>
  <ion-grid>
    <div *ngIf="dicePool.length == 0">Tap the dice you would like to add to your dice pool</div>
    <ion-row>
      <ion-col col-2 *ngFor="let die of dicePool">
        <img (click)="removeFromDicePool(die)" src="{{die.url}}">
      </ion-col>
    </ion-row>
  </ion-grid>

  <button ion-button round (click)="rollDice()">Roll your dice!</button>

  <div *ngIf="aggregatedResults != null">
    <h2>Results</h2>
    <ion-grid>
      <ion-row>
        <ion-col class="centered"><img class="IA-icon" src="./assets/imgs/Damage.png"> : {{aggregatedResults.damage}}</ion-col>
        <ion-col class="centered"><img class="IA-icon" src="./assets/imgs/surge.png"> : {{aggregatedResults.surge}}</ion-col>
        <ion-col class="centered"><img class="IA-icon" src="./assets/imgs/accuracy.png"> : {{aggregatedResults.range}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="centered"><img class="IA-icon" src="./assets/imgs/block.png"> : {{aggregatedResults.block}}</ion-col>
        <ion-col class="centered"><img class="IA-icon" src="./assets/imgs/dodge.png"> : {{aggregatedResults.dodge}}</ion-col>
        <ion-col class="centered"><img class="IA-icon" src="./assets/imgs/evade.png"> : {{aggregatedResults.evade}}</ion-col>
      </ion-row>
    </ion-grid>
    <ion-icon name="arrow-dropdown"></ion-icon>
    
  </div>  

</ion-content>
